body{
    background-image:url("pandayay2.jpg");
    background-repeat:no-repeat;
    background-position: center;
}

canvas{
    border-style:dashed;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

button{
    margin-right: 410px;
}

h3{
    margin-right: 410px;
}

#title1 {
    width: 370px;
    height: 60px;
    text-align: center;
    font-size: 29px !important;
}

.btn-success:hover {
    background-color:hotpink;
}


@keyframes example {
    from {box-shadow: 1px 1px 38px rgb(255, 177, 94);}
    to {box-shadow: 1px 1px 38px rgb(200, 138, 253);}
}